extends layout
 
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let knifeid = toShow._id
        - let knife_name = toShow.knife_name
        - let size = toShow.size
        - let price = toShow.price
        - let actionid = "/resource/knife/" + knifeid
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='knifeAttr mr-3') knife ID is:
                div #{knifeid}
            div.row
                div(class='knifeAttr mr-3') knife Style is:
                div #{knife_name}
            div.row
                div(class='knifeAttr mr-3') knife Size is:
                div #{size}
            div.row
                div(class='knifeAttr mr-3') knife Price is:
                div #{price}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-primary m-2" onclick="cancel()") Cancel
       
    script.
        function cancel() {
            // Go back to the home page for the knife collection
            window.location.href='/knife'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.text(); // or resp.text() or wknifeever the server sends
            }).then((body) => {
                alert("Delete succeeded")
                window.location.href='/knife'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }
