extends layout

block content
  h1= title
  div.container-fluid
   div.row
     - 
        let Knife = results
     each knife,index in Knife        
       div.col-sm-2(onclick=`buy(${index})`)
        p(style="color:yellow;") knife_name: #{knife.knife_name}
        p(style="color:green;") Size: #{knife.size}
        p(style="color:purple;") Price: $#{knife.price.toFixed(2)}
     
  a(href="/") Back to index
  script.
   function buy(index) {
      alert(`You purchased item ${index}`);
    }